<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <app-quote-card [quote]="randomQuote"></app-quote-card>

  <ion-button expand="block" (click)="loadRandom()">
    Otra cita aleatoria
  </ion-button>

  <ion-list class="ion-margin-top">
    <ion-item routerLink="/quotes">
      <ion-label>Ir a Gestión de Citas</ion-label>
    </ion-item>
    <ion-item routerLink="/settings">
      <ion-label>Ir a Configuración</ion-label>
    </ion-item>
  </ion-list>

</ion-content>